<!DOCTYPE html>
<html>
<head>
    <title>Yiyecek Servisi - Ürün Listesi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>

<body>

<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Online yiyecek servisiniz</a>
        <div class="navbar-right">
            <div class="container minicart" style="display:none; cursor:pointer" data-toggle="modal" data-target="#myModal"></div>
            <a class="navbar-brand" href="/logout">Çıkış yap</a>
        </div>
    </div>
</nav>

<div class="container-fluid breadcrumbBox text-center" style="margin-bottom: 3%;">
    <ol class="breadcrumb">
        <li class="active"><a href="#">Ürün Listesi</a></li>
        <li><a href="/past-orders">Geçmiş Siparişler</a></li>
    </ol>
</div>

<div class="container text-center">
    <div id="div-order-success" class="alert alert-success" style="display:none; margin-top:2%;">
        <strong>Başarılı!</strong> Siparişiniz başarıyla oluşturuldu.

    </div>
    <div class="col-md-5 col-sm-12">
        <div class="bigcart"></div>
        <h1>Sepetiniz</h1>
        <ul>
            {% for food in cart_foods %}
                <li class="row">
                    <span class="itemName">{{ food.0 }}</span>
                    <span class="price">{{ food.1 }} TRY</span>
                </li>
            {% endfor %}
            <li class="row totals">
                <span class="itemName">Sepet tutarı:</span>
                <span class="price">{{ cart_total }} TRY</span>
            </li>
            <li class="row totals" style="box-shadow: none;">
                <span class="order" style="float: left;"> <a class="reset-cart">Sepeti boşalt</a></span>
                <span class="order" style="float: right;"> <a class="give-order">Sipariş Ver</a></span>
            </li>
        </ul>
    </div>

    <div class="col-md-7 col-sm-12 text-left">
        <ul>
            <li class="row list-inline columnCaptions">
                <span>Ürün</span>
                <span>Fiyat</span>
            </li>
            {% for food in foods %}
                <li class="row">
                    <span class="itemName">{{ food.3 }} <span class="" style="font-size: 10px;">{% if food.2 %} : {{ food.2 }}, {% endif %}</span></span>
                    <span class="popbtn"><a class="add-to-cart" style="cursor: pointer;" data-food-id="{{ food.0 }}"><span class="glyphicon glyphicon-check" style="top: -27px; left: -5px;"></span></a></span>
                    <span class="price">{{ food.1 }} TRY</span>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>

<!-- JavaScript includes -->

<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/customjs.js"></script>
<script>
    $(document).ready(function() {
        if (location.hash.indexOf('#success') !== -1) {
            $('#div-order-success').css('display', 'block');
        }

        $("a.add-to-cart").click(function(){
            var food_id = $(this).data('food-id');
            $.post("/",
                {
                    food_id: food_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                function(data, status){
                    if (status === "success")
                        location.reload();
                });
        });

        $("a.reset-cart").click(function(){
            if (parseInt("{{ cart_total }}") > 0) {
                $.post("/",
                    {
                        reset_cart: 1,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    function (data, status) {
                        if (status === "success")
                            location.reload();
                    });
            }
        });

        $("a.give-order").click(function(){
            if (parseInt("{{ cart_total }}") > 0) {
                $.post("/",
                    {
                        give_order: 1,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    function(data, status){
                        if (status === "success") {
                            location.hash = 'success';
                            location.reload();
                        }
                    });
            }
        });
    });
</script>
</body>
</html>